/*
***
* GLOBAL STYLE
***
* styles/global.scss
* styles for global and theme
***
*/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fontsource/raleway';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-green-600 {
  --tw-text-opacity: 1;
  color: rgb(221 7 78/var(--tw-text-opacity))
}

.bg-green-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(221 7 78/var(--tw-bg-opacity));
}

.bg-green-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(221 7 78/var(--tw-bg-opacity));
}

.text-green-500 {
  --tw-text-opacity: 1;
  color: rgb(233 4 102/var(--tw-text-opacity));
}